.login button{
    display: block;
    background-color:rgb(89, 195, 214);
    height: 50px;
    width: 90px;
    border-radius: 15%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.logout button{
    display: block;
    background-color:rgb(89, 195, 214);
    height: 50px;
    width: 90px;
    border-radius: 15%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.login{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:hover{
    box-shadow: 0px 0px 15px 0px;
}
